  body{

  padding: 60px;
  font-style: italic;
}



#cronometrol{
  margin-left: 500px;
  margin-right: 100px;
  margin-top: -41%;
  margin-bottom: 70px;
  color: #e5e0e0;
  font-size: 57px;
}

#engragem{
color: #e5e0e0;
margin-left: 10%;
margin-right: 10%;
margin-top: -10%;
font-size: 	60px;
color: #e5e0e0;

}

#jogo{
  width: 500px;

}
#bloco{
  margin-top: 30%;

}
#martelo{
  margin-top: -79%;
  margin-left: 100%;
}
#Mel2{
  left: 90%;

}


.infor{
  color: #e5e0e0;
  margin-left: 10%;
  margin-right: 60%;
  font-size: 20px;

}

.Melh{
  margin-left: 10%;
  margin-right: 64%;

}

#Titulo_Melhoramento{
 width: 150px;
 color: #e5e0e0;
 border: 1px solid white	;
 border-right: -500px;
}

#martelo{
width: 200px;

}

.telaPrinc{

  width: 400px;
  position: absolute;
  bottom:10px;
  right:20px;
  height: 657px;
  position: absolute;
  left: 60%;
  right: 20%
  top: 20px;
}



.Melh {
width: 110px;/* Faz a largura ficar igual a da largura da imagem de exemplo */
height: 110px;/* Faz a altura ficar igual a da altura da imagem de exemplo */
opacity: 0.5;
}
