  body{

  padding: 60px;
  border: 1px solid #4CAF50;
  left: 20px;
  font-style: italic;
  font-size: 20px;
  border: 10px solid;
}



#cronometrol{


}

#engragem{
color: #e5e0e0;
}

#jogo{
  width: 500px;

}

#Titulo_Melhoramento{
  width: 150px;
 color: #e5e0e0;
 border: 10px solid #52a589;
 border-right: -500px;
}

#martelo{
width: 200px;
right: 200px;

}

.telaPrinc{


  height: 657px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}



.Melh {
width: 110px;/* Faz a largura ficar igual a da largura da imagem de exemplo */
height: 110px;/* Faz a altura ficar igual a da altura da imagem de exemplo */
opacity: 0.5;
}
